.firstRow{
    margin-top:20px;
}
.google{
    margin-bottom: 30px;
}

.search-form{
    margin-left: 40%;
    margin-right:40%;
}
p{
    font-family: 'Muli', sans-serif;
}
h1{
    font-family: 'Rammetto One', cursive;
}