<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>FLASK APP</title>
</head>
<body>
    <div class="container-fluid">
            <header>
                    <div class="container">
                      <h1 class="logo">Flask App</h1>
                      <strong><nav>
                        <ul class="menu">
                          <li><a href="/">Home</a></li>
                          <li><a href="/about">About</a></li>
                        </ul>
                      </nav></strong>
                    </div>
                  </header>
        {% block content%}
        
        {% endblock%}
    </div>
    
</body>
</html>